.slide-in {
    transform: translateX(50%);
    animation: slideIn 0.1s forwards;
}

@keyframes slideIn {
    100% {
        transform: translateX(0);
    }
}

.slide-out {
    transform: translateX(0);
    animation: slideOut 1s forwards;
}

@keyframes slideOut {
    100% {
        transform: translateX(100%);
    }
}