.button {
    background-color: var(--content-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 3.5rem;
    left: 0.75rem;
    width: 12.5rem;
    height: 100%;
    text-align: left;
}

.menu {
    border-radius: 0.75rem;
    background-color: var(--modal-menu-color);
    opacity: 0.97;
    backdrop-filter: blur(4px);
    padding: 0.4rem 0.75rem;
    position: relative;
    box-shadow: var(--text-color) 1px;
}

.menu-item {
    display: flex;
    border-radius: 10%;
    color: var(--text-color);
    padding: 0.25rem;
}

.menu-item:hover {
    background-color: var(--menu-item-color);
}

.menu-item-icon {
    opacity: 70%;
    margin-right: 1rem;
}

.close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0.75rem;
    cursor: pointer;
}

li:hover {
    background-color: #ddd;
}

.description {
    text-align: center;
    color: #6c6c6c;
    opacity: 60;
    font-size: 0.75rem;
    margin-top: 0.2rem;
}
